{{!-- The following component displays Ember's default welcome message. --}}
<article>

    <p>&nbsp;</p>
    <h1><a href="https://frame-studio.vercel.app/">FRAME STUDIO</a></h1>
    <p>Upload the image you want to make into a twibbon then click 'Generate!'.</p>
    <p>Right click and save for PC or touch and hold then download image for smartphone if the download link is dead.</p>
    <p>Make sure the uploaded image has a size.</p>
    <p>
    <input class="form-control" id="fileInput" type="file"/>
    </p>
    <p>
    <img id="preview" src="no-img.png"/>
    <img id="twibbon" src="twibbon.png" style="display: none"/>
    <canvas id="twibbonbaker" style="width: 300px; height: 300px; display: none"></canvas>
    </p>
    <p>
    <button style="margin-left: auto; margin-right: auto;text-decoration:none;color: white;text-align:center;font-family:Courier New, Courier, monospace;font-weight:600;letter-spacing:2px;background-color:black;padding:15px" id="dpwload" onclick="drawImage()">Generate</button>
    <a href="#" id="dpwload2" download="twibbon-by-bungferry.png" style="display: none;margin-left: auto; margin-right: auto;text-decoration:none;color: white;text-align:center;font-family:Courier New, Courier, monospace;font-weight:600;letter-spacing:2px;background-color:black;padding:15px">Download</a></td>
    </p>
      
    <hr style="margin-top:10px;margin-top:75px"/>
    <p style="text-align:center;margin-bottom:15px"><small style="text-align:center;font-family:Courier New, Courier, monospace;font-size:10px;color#666;">Made with <span style="color:red">&hearts;</span> by <a href="https://www.facebook.com/bungferry.wa" style="text-decoration: none;color:#666">Ferry Ayunda</a> in Indonesia</small></p>
    <p>&nbsp;</p>

  </div>
</div>
<script type="text/javascript" src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="script.js"></script>
{{!-- Feel free to remove this! --}}

{{outlet}}
