{{!-- The following component displays Ember's default welcome message. --}}
<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <i class="bi-bug-fill" style="font-size: 2rem; color: black;"></i>
        <span class="fs-4">&nbsp;Twibbon Generator</span>
      </a>
    </header>

        
    <p>Upload the image you want to make into a twibbon then click 'Preview!'.</p>
    <p>
    <span class="btn-file">
      Upload Photo <input id="fileInput" type="file"/>
    </span>
    </p>

    <p>Make sure the uploaded image has a size.</p>
    <p>
    <img class="img-fluid" id="preview" src="no-img.png"/>
    <img id="twibbon" src="twibbon.png" style="display: none"/>
    <canvas id="twibbonbaker" style="width: 300px; height: 300px; display: none"></canvas>
    </p>
    <p><button class="btn btn-primary" id="dpwload" onclick="drawImage()">Preview</button></p>

    <p>Right click and save for PC or touch and hold then download image for smartphone if the download link is dead.</p>
    <p><a href="#" class="btn btn-outline-success" id="dpwload2" download="twibbon-by-bungferry.png" style="display: none;">Download</a>
    <button id="cancel" onclick="location.reload()" type="button" class="btn btn-outline-danger">Reset</button></p>

    <!--
    <p>Make sure the uploaded image has a size.</p>
     
    <p>
    <span class="btn-file">
      Upload Photo <input id="fileInput" type="file"/>
    </span>
    </p>
    

    <p>
    <img class="img-fluid" id="preview" src="no-img.png"/>
    <img id="twibbon" src="twibbon.png" style="display: none"/>
    <canvas id="twibbonbaker" style="width: 300px; height: 300px; display: none"></canvas>
    </p>
    <p>
    <button class="btn btn-primary" id="dpwload" onclick="drawImage()">Generate</button>
    <a href="#" class="btn btn-success" id="dpwload2" download="twibbon-by-bungferry.png" style="display: none;">Download</a>
    </p> 
    -->

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021 <a href="https://www.facebook.com/bungferry.wa" class="text-decoration-none">Ferry Ayunda</a>
    </footer>
  </div>
</main>
<script type="text/javascript" src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="script.js"></script>
{{!-- Feel free to remove this! --}}

{{outlet}}
